<div class="product">
  <ul>
    <% @results.each do |result| %>
      <li><%= result.sku %></li>
      <li><%= result.name %></li>
      <li><%= result.customer_avg_review %></li>
      <li><%= result.short_description %></li>
      <li><%= result.sale_price %></li>
      <li><%= image_tag result.image %></li>
    <% end %>
  </ul>
</div>
